//BEGIN footer
<footer class="section">
    <div class="container">
        <div class="footer">
            <div class="footer__logo-wrap">
                <a href="/">
                    <img src="./icons/Logo.svg" alt="">
                </a>
            </div>
            <div class="footer__info-wrap">
                <strong>Contacts:</strong>
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <a href="tel:+36704013174">
                            +icon('phone')
                            <span>+36 70 401 3174</span>
                        </a>
                    </li>
                    <li class="footer__info-item">
                        <a href="mailto:yoururea46@gmail.com">
                            +icon('mail')
                            <span>yoururea46@gmail.com</span>
                        </a>
                    </li>
                    <li class="footer__info-item">
                        <span>8am –8pm CEST Time Zone</span>
                    </li>
                </ul>
                <ul class="footer__info-social-list">
                    <li class="footer__info-social-item">
                        <a href="/">
                            +icon('whatsapp')
                        </a>
                    </li>
                    <li class="footer__info-social-item">
                        <a href="/">
                            +icon('viber')
                        </a>
                    </li>
                    <li class="footer__info-social-item">
                        <a href="/">
                            +icon('telega')
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
//END footer