//BEGIN header
<header class="header">
    <div class="container">
        <div class="header__wrap">
            <div class="hedaer__wrap-logo">
                <a href="/">
                    <img src="./icons/Logo.svg" alt="">
                </a>
            </div>
            <div class="header__wrap-info">
                <div class="header__wrap-lang-menu">
                    <div class="header__wrap-lang-item">
                        <span>English</span>
                        +icon('arrow')
                    </div>
                    <ul class="header__wrap-lang-childs">
                        <li class="header__wrap-lang-childs-item">
                            <a href="/" class="es header__wrap-lang-childs-content">
                                <span>Español</span>
                                +icon('arrow')
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="header__wrap-menu">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="section">
    <div class="container">
        <div class="nav">
            <ul class="nav__list">
                <li class="nav__list-item">
                    <a href="/">Services</a>
                </li>
                <li class="nav__list-item">
                    <a href="/">About Us</a>
                </li>
                <li class="nav__list-item">
                    <a href="/">Pricing</a>
                </li>
                <li class="nav__list-item">
                    <a href="/">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
//END header
