.hero {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 212px 0 25px;

    top: 0;
    left: 0;

    overflow: hidden;

    &::after {
        position: absolute;

        content: '';

        top: -201px;
        right: 3px;

        width: 191px;
        height: 610px;
        
        background: rgba(66,255,0,.3);
        mix-blend-mode: multiply;
        transform: rotate(21deg);

        z-index: -2;

        @include rmin($tablet) {
            height: 573px;
        }

        @include rmin($desktop-s) {
            height: 533px;
        }
    }

    a {
        text-decoration: none;
    }

    &__info-wrap {
        display: flex;
        flex-direction: column;

        background-color: var(--white);

        padding: 0 15px;

        h1 {
            font-family: $font-mag;
            font-weight: 500;
            font-size: 44px;
            line-height: 43px;

            color: var(--primary-600);
        }

        p {
            margin-top: 15px;

            padding-right: 20px;

            font-family: $font-second;
            font-weight: 400;
            font-size: 20px;

            color: var(--gray-200);

            @include rmin($tablet) {
                padding-right: 50%;
            }
        }

        @include rmin($phone-m) {
            padding: 0 15px 40px;
        }

        @include rmin($tablet) {
            background-color: unset;
        }
    }

    &__info-btn {
        margin-top: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 12px;

        background-color: var(--primary-500);
        border-radius: 59px;

        //
        font-family: $font-rob;
        font-weight: 400;
        font-size: 20px;

        color: var(--white);

        @include rmin($tablet) {
            padding: 12px 55px;
            width: fit-content;
        }
    }

    &__img-under,
    &__img-over {
        position: absolute;

        display: flex;
        
        right: 0;
        top: -25px;
        
        width: 100%;
        height: auto;
        
        z-index: -1;

        img {
            width: 100%;
            height: 100%;

            object-fit: contain;
        }

        @include rmin($tablet) {
            bottom: 0;
            right: -21px;

            min-width: 599px;
        }
    }

    &__img-under {
        display: flex;
        top: 0;

        max-width: 599px;

        opacity: 0.3;
        filter: blur(2.5px);

        overflow: hidden;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 100%;

            background: linear-gradient(-242deg, #FFFFFF 29.33%, rgba(217, 217, 217, 0) 62.82%);
            z-index: 1;
        }

        @include rmin($tablet) {
            display: flex;
            top: -158px;
            
            opacity: 0.3;
            filter: blur(2.5px);
        }
    }

    &__img-over {
        top: 57px;
        right: -8px;

        max-width: 375px;

        overflow: hidden;

        &::after {
            position: absolute;
            content: '';

            width: 100%;
            height: 51%;

            bottom: 0;
            left: 0;

            background: linear-gradient(360deg, #FFFFFF 29.33%, rgba(217, 217, 217, 0) 62.82%);

            @include rmin($desktop) {
                bottom: -21px;
            }
        }

        @include rmin($tablet) {
            top: -6px;
            right: -34px;
        }
    }
}

@include rmin($desktop) {
    .hero {
        padding: 201px 15px 25px;

        top: -24px;

        @include rmin($desktop-s) {
            margin: auto;
            padding: 201px 15px 50px 64px;
        }

        @include rmin($desktop-l) {
            max-width: 1440px;

            padding-left: 143px;
        }

        &::after {
            top: -74px;
            right: 192px;

            width: 291px;
        }

        &__info-wrap {
            padding: 0 0 40px;

            h1 {
                font-size: 64px;
            }

            p {
                margin-top: 25px;
                padding-right: 52%;

                font-size: 28px;
            }

            @include rmin($desktop-l) {
                padding: 0 0 0;
            }
        }

        &__img-under,
        &__img-over {
            max-width: 806px;

            @include rmin($desktop-l) {
                right: -2%;
            }
        }

        &__img-under {
            top: -102px; 
            right: -1%;

            @include rmin($desktop-s) {
                top: -83px;
            }

            @include rmin($desktop-l) {
                top: -25px;
                right: -2%;

                max-width: 854px;
            }
        }

        &__img-over {
            top: 82px;
            right: -4%;

            @include rmin($desktop-s) {
                bottom: 17px;
            }

            @include rmin($desktop-l) {
                bottom: -32px;
            }
        }

        &__info-btn {
            margin-top: 50px;

            padding: 10px 119px;
        }
    }
}