mixin hero()
    <section>
        <div class="hero">
            <div class="hero__info-wrap">
                <h1>Urea46</h1>
                <p>The leading provider of soil and fertilizers to Africa, Asia, Central and South America.</p>
                <a href="/" class="hero__info-btn">Large button</a>
            </div>
            <div class="hero__img-wrap">
                <img src="./img/mask-group.png" alt="">
                <img src="./img/hero-over.png" alt="">
            </div>
        </div>
    </section>