mixin product()
    <section class="section">
        <div class="container">
            <div class="product">
                <h2>Products:</h2>
                <ul class="product__wrap-list">
                    +product-item('Ammonium Nitrate', 'Very efficient and produces less greenhouse gas emissions than other fertilizers.')
                    +product-item('Urea 46%', 'Quality nitrogenous fertilizer suitable for all kinds of soils that can be applied as top dressing or on sowings.')
                    +product-item('KCL (Potassium Chloride)', 'Provides crops with two nutrients, K and Cl, essential for both plants and animals.')
                    +product-item('Diammonium phosphate (DAP)', 'The world’s most widely used phosphorus fertilizer.')
                </ul>
            </div>
        </div>
    </section>

mixin product-item(prodTitle='', prodDescr='')
    li(class="product__wrap-item")
        strong= prodTitle
        span= prodDescr