.icon-Logo {
  width: 2.17em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1.73em;
  height: 1em;
  fill: initial;
}
.icon-delivery {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-payment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quality {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telega {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: initial;
}
